name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: KuaaPoH
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Ho_Chi_Minh
          
          # Output options
          filename: github-metrics.svg
          committer_branch: metrics
          committer_message: "chore: update metrics"

          # -----------------------------------------------------------
          # Giống Lowlighter: Isometric Calendar (Lịch 3D)
          # -----------------------------------------------------------
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # -----------------------------------------------------------
          # Giống Lowlighter: Languages (Ngôn ngữ)
          # -----------------------------------------------------------
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_details: lines, percentage
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
